@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,300&family=Merriweather:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c243c;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  column-gap: 2rem;
}

.box {
  width: 18.5rem;
  height: 32rem;
  background-color: #212c4d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.75rem 0.8rem;
  transition: background-color 0.3s ease-in-out;
}

.box:hover {
  background-color: #7a3af4;
}

.box:hover .upper-box > button {
  background-color: #7a3af4;
}

.upper-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19223e;
  height: 20rem;
  row-gap: 1.5rem;
  border-bottom: 2px solid #212c4d;
  border-radius: 10px 10px 0 0;
}

.upper-box > strong {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.upper-box .info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.upper-box .info > h1 {
  font-size: 3.4rem;
  font-family: "Merriweather", serif;
}

.upper-box > button {
  background-color: #212c4d;
  color: #fff;
  width: 10rem;
  height: 3rem;
  border: 2px solid #7a3af4;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.upper-box > button:hover {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.upper-box > button:active {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lower-box {
  background-color: #19223e;
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.lower-box > ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  row-gap: 0.5rem;
}

@media only screen and (max-width: 950px) {
  .container {
    height: 100%;
  }
  .box:not(:last-child) {
    margin: 1.5rem 0 0 0;
  }
  .box:last-child {
    margin: 1.5rem 0;
  }
}
